dev/pug/forgot-password.pug
extends _layouts/default

block vars
  -title        = 'title'
  -description  = 'description'
  -keywords     = 'keywords'
  -pageID       = 'top'
  -path         = '.'


block wrapper
  | &#x9;
  section.section-form
    .container
      .content-form
        .head-tab.ttl Quên mật khẩu

        .body-tab
          .content-tab.tab-form#link01.active
            h2.ttl-signup XIN VUI LÒNG ĐIỀN ĐIẠ CHỈ EMAIL CỦA BẠN
            p.sumary để đặt lại mật khẩu truy cập khoá hoc


            .list-form
              form(action="#")
                .form-cover
                  label.label-text Tên đăng nhập/Email/Số điện thoại*:
                  input.input-control.italic(type="text" name="id" placeholder="Đây là Tên đăng nhập/ Địa chỉ Email hoặc số điện thoại mà bạn đã sử dụng để đăng ký" value="")

                .form-submit
                  button.trans.btn-subbmit ĐỔI MẬT KHẨU

          .content-tab.tab-form#link02
            h2.ttl-signup XIN VUI LÒNG ĐĂNG NHẬP
            p.sumary để truy cập tài khoản của bạn và các khóa học.
            .list-form
              form(action="#")
                .form-cover
                  label.label-text Tên đăng nhập/Email/Số điện thoại*:
                  input.input-control.italic(type="text" name="id" placeholder="Đây là Tên đăng nhập/ Địa chỉ Email hoặc số điện thoại mà bạn đã sử dụng để đăng ký" value="")
                .form-cover
                  label.label-text Mật khẩu:
                  input.input-control(type="password" name="password" placeholder="●●●●●●●●●●" value="")
                .form-cover.form-checbox
                  label.label-checkbox
                    input(type="checkbox" name="remember")
                    span Ghi nhớ mật khẩu cho lần đăng nhập sau
                .form-submit
                  button.trans.btn-subbmit ĐĂNG NHẬP
                .forgot-password
                  a.trans(href="#") Quên mật khẩu?

  section.section-purpose
    .container
      .inner
        h2.ttl-purpose
          | MỤC ĐÍCH CỦA
          br
          | KHOÁ ĐÀO TẠO - NGÀY ĐẦU TIÊN
        p Khóa học Ngày đầu tiên ra đời với mong muốn giúp đội ngũ Tư vấn viên có những thông tin chính thông và kỹ năng cần thiết để hỗ trợ bệnh nhân Tăng huyết áp & Đái tháo đường kiểm soát các yếu tố nguy cơ tim mạch, ngăn ngừa biến cố và giảm chi phí điều trị
        a.link-purpose.trans(href="#") Nhận thêm thông tin >

forgot-password.html
 <!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <link rel="shortcut icon" href="./img/favicon.ico">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <title>title</title>
    <link href="//fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&amp;display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
      <header class="main-header">
        <div class="container dis-flex justify-content-between">
          <div class="left-header dis-flex">
            <h1 class="logo"><a class="trans" href="#"><img src="./img/logo.svg" alt="ngày đầu tiên"></a></h1>
            <nav class="main-nav js-navigation">
              <ul class="dis-flex">
                <li><a href="#">Về dự án Ngày Đầu Tiên</a></li>
                <li><a href="#">Tìm hiểu về Tăng huyết áp</a></li>
                <li><a href="#">Tìm hiểu về Đái tháo đường</a></li>
              </ul>
            </nav>
          </div>
          <form class="box-search">
            <input type="text" placeholder="Tìm Kiếm">
            <button><img src="./img/icon-search-2.svg" alt="Tìm Kiếm"></button>
          </form>
          <div class="btn-menu js-btn-menu"><span></span><span></span><span></span></div>
        </div>
      </header>
      <main>&#x9;
        <section class="section-form">
          <div class="container">
            <div class="content-form">
              <div class="head-tab ttl">Quên mật khẩu</div>
              <div class="body-tab">
                <div class="content-tab tab-form active" id="link01">
                  <h2 class="ttl-signup">XIN VUI LÒNG ĐIỀN ĐIẠ CHỈ EMAIL CỦA BẠN</h2>
                  <p class="sumary">để đặt lại mật khẩu truy cập khoá hoc</p>
                  <div class="list-form">
                    <form action="#">
                      <div class="form-cover">
                        <label class="label-text">Tên đăng nhập/Email/Số điện thoại*:</label>
                        <input class="input-control italic" type="text" name="id" placeholder="Đây là Tên đăng nhập/ Địa chỉ Email hoặc số điện thoại mà bạn đã sử dụng để đăng ký" value="">
                      </div>
                      <div class="form-submit">
                        <button class="trans btn-subbmit">ĐỔI MẬT KHẨU</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="content-tab tab-form" id="link02">
                  <h2 class="ttl-signup">XIN VUI LÒNG ĐĂNG NHẬP</h2>
                  <p class="sumary">để truy cập tài khoản của bạn và các khóa học.</p>
                  <div class="list-form">
                    <form action="#">
                      <div class="form-cover">
                        <label class="label-text">Tên đăng nhập/Email/Số điện thoại*:</label>
                        <input class="input-control italic" type="text" name="id" placeholder="Đây là Tên đăng nhập/ Địa chỉ Email hoặc số điện thoại mà bạn đã sử dụng để đăng ký" value="">
                      </div>
                      <div class="form-cover">
                        <label class="label-text">Mật khẩu:</label>
                        <input class="input-control" type="password" name="password" placeholder="●●●●●●●●●●" value="">
                      </div>
                      <div class="form-cover form-checbox">
                        <label class="label-checkbox">
                          <input type="checkbox" name="remember"><span>Ghi nhớ mật khẩu cho lần đăng nhập sau</span>
                        </label>
                      </div>
                      <div class="form-submit">
                        <button class="trans btn-subbmit">ĐĂNG NHẬP</button>
                      </div>
                      <div class="forgot-password"><a class="trans" href="#">Quên mật khẩu?</a></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-purpose">
          <div class="container">
            <div class="inner">
              <h2 class="ttl-purpose">MỤC ĐÍCH CỦA<br>KHOÁ ĐÀO TẠO - NGÀY ĐẦU TIÊN</h2>
              <p>Khóa học Ngày đầu tiên ra đời với mong muốn giúp đội ngũ Tư vấn viên có những thông tin chính thông và kỹ năng cần thiết để hỗ trợ bệnh nhân Tăng huyết áp & Đái tháo đường kiểm soát các yếu tố nguy cơ tim mạch, ngăn ngừa biến cố và giảm chi phí điều trị</p><a class="link-purpose trans" href="#">Nhận thêm thông tin ></a>
            </div>
          </div>
        </section>
      </main>
      <footer class="main-footer">
        <div class="container">
          <h2 class="ttl-footer"><span>ngaydautien.vn</span></h2>
          <div class="row">
            <div class="col-md-7">
              <h3 class="ttl-inner">Về ngày đầu tiên</h3>
              <p>Trang tin Ngày đầu tiên ra đời với mong muốn giúp cộng đồng hiểu rõ hơn về 2 căn bệnh thầm lặng Tăng Huyết Áp và Đái Tháo Đường, nhận biết các nguy cơ cũng như lời khuyên để sống khỏe cùng bệnh.</p>
              <p>Cùng hiểu hơn về Tăng Huyết Áp và Đái Tháo Đường qua loạt bài viết và thông tin y khoa chính thống từ cộng đồng Bác sĩ giàu kinh nghiệm. Được bảo trợ  bởi Hội Tim mạch học Việt Nam và Hội Nội Tiết và Đái Tháo Đường Việt Nam.</p>
            </div>
            <div class="col-md-5">
              <h3 class="ttl-inner">Bảo trợ thông tin</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="item-ft"><a href="#"><img src="./img/vha.jpg" alt=""><span class="transall">Hội Tim Mạch Học Việt Nam</span></a></div>
                </div>
                <div class="col-md-6">
                  <div class="item-ft"><a href="#"><img src="./img/vade.jpg" alt=""><span class="transall">Hội nội tiết & đái tháo đường Việt Nam</span></a></div>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <h3 class="ttl-inner">Theo dõi chúng tôi</h3>
              <div class="row">
                <div class="col item-social facebook"><a href="#"><img src="./img/icon-face.png" alt="facebook"><span>Tăng Huyết Áp</span></a></div>
                <div class="col item-social facebook"><a href="#"><img src="./img/icon-face.png" alt="facebook"><span>Đái Tháo Đường</span></a></div>
                <div class="col item-social youtube"><a href="#"><img src="./img/icon-yt.png" alt="facebook"><span>Ngày Đầu Tiên</span></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="wave-wrapper">
          <div class="ocean wave-bottom">
            <div class="wave wave-1 wave-white"></div>
            <div class="wave wave-2 wave-white"></div>
            <div class="wave wave-3 wave-white"></div>
          </div>
        </div>
        <div class="nav-footer">
          <div class="container">
            <ul class="dis-flex">
              <li><a href="#">GIỚI THIỆU NGÀY ĐẦU TIÊN</a></li>
              <li><a href="#">BAN ĐIỀU HÀNH</a></li>
              <li><a href="#">CHÍNH SÁCH BẢO MẬT</a></li>
              <li><a href="#">LIÊN HỆ</a></li>
            </ul>
          </div>
        </div>
        <div class="coppy-right">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <p>© 2016 - 2020 Bản quyền các bài viết thuộc Ngày Đầu Tiên.</p>
                <p>Các bài viết của Ngày Đầu Tiên chỉ có tính chất tham khảo, không thay thế cho việc chẩn đoán hoặc điều trị.</p>
              </div>
              <div class="col-md-4">
                <ul class="list-protect dis-flex align-items-center">
                  <li><a class="btn-group dmca-badge" href="//www.dmca.com/Protection/Status.aspx?ID=6978703b-3615-4182-8c0f-3ab90371d1aa" rel="noreferrer" target="_blank" title="DMCA.com Protection Status">
                      <div class="btn btn-sm btn-success text-dark">DMCA</div>
                      <div class="btn btn-sm btn-dark">PROTECTED</div>
                      <script async="async" defer="defer" src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script></a></li>
                  <li><a class="d-block" href="//www.copyscape.com/" rel="noreferrer" target="_blank" title="Protected by Copyscape - Do not copy content from this page."><span class="btn btn-sm btn-dark">
                        © PROTECTED BY
                        COPYSCAPE</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>
