dev/pug/index.pug
extends _layouts/default

block vars
  -title        = 'title'
  -description  = 'description'
  -keywords     = 'keywords'
  -pageID       = 'top'
  -path         = '.'


block wrapper
  | &#x9;
  section.section-keyvisual
    .container
      .content-key
        h2.ttl-cmn
          span GIỚI THIỆU CHUNG
        p Các khóa học mang tính cải tiến vấn đề cốt lõi – các yếu tố trong môi trường sống của bệnh nhân (gia đình, bạn bè, bác sĩ, điều dưỡng…).
        p Từ đây nâng cao nhận thức của người dân về các bệnh không lây nhiễm và những căn bệnh liên quan tới tim mạch như Đái tháo đường và…
        a.viewmore.trans(href="#")
          span Xem thêm
  section.section-infor
    .top-infor
      .container
        .block-student
          .avatar
            img(src=path+"/img/avatar.png", alt="NGUYỄN PHƯƠNG THẢO")
            a.edit.trans(href="#")
          h2.name
            | NGUYỄN PHƯƠNG THẢO
            span (Bệnh viện Đa khoa Gia Lai)
          .text-infor
            span Email: nguyen.thao91@gmail.com
            | |
            span Điện thoại: 092387110
    .bot-infor
      .container
        .block-infor
          h2.ttl-cmn
            span THÔNG TIN HỌC VIÊN
          .row
            .col-lg-4
              .box-infor
                .head-infor
                  img(src=path+"/img/icon-infor01.png", alt="THÔNG TIN CƠ BẢN")
                  | THÔNG TIN CƠ BẢN
                .body-infor
                  table
                    tr
                      th Giới tính:
                      td Nữ
                    tr
                      th Ngày sinh:
                      td 01/10/1992
                    tr
                      th Nơi sinh:
                      td Khánh Hoà

            .col-lg-8
              .box-infor
                .head-infor
                  img(src=path+"/img/icon-infor02.png", alt="TRÌNH ĐỘ HỌC VẤN")
                  | TRÌNH ĐỘ HỌC VẤN
                .body-infor
                  table.tabble2
                    tr
                      th Bằng cấp:
                      td Bằng Đại Học
                    tr
                      th Trường tốt nghiệp:
                      td Đại học Y Dược TP.Hồ Chí Minh
                    tr
                      th Năm tốt nghiệp:
                      td 2020
            .col-12.box-experience
              .box-infor
                .head-infor
                  img(src=path+"/img/icon-infor03.png", alt="KINH NGHIỆM CHUYÊN MÔN")
                  | KINH NGHIỆM CHUYÊN MÔN
                .body-infor

                  table.tabble2
                    tr
                      th Cơ quan công tác:
                      td Bệnh viện Đa khoa Gia Lai
                    tr
                      th Tỉnh/Thành phố:
                      td Gia Lai
                    tr
                      th Khoa công tác:
                      td Khoa Nội Tổng Quát
                    tr
                      th Thâm niên công tác:
                      td 07 năm
                    tr
                      th Kinh nghiệm tư vấn bệnh nhân:
                      td 03 năm
  section.section-course
    .container
      h2.ttl-cmn.text-center
        span KHOÁ HỌC ĐÃ ĐĂNG KÍ
      .row.list-course
        .col-md-3
          .item-course.transall
            img(src=path+"/img/image01.jpg", alt="Quy trình tư vấn giáo dục sức khỏe cho bệnh nhân")
            .content
              h3.ttl-item Quy trình tư vấn giáo dục sức khỏe cho bệnh nhân
              a.trans(href="#") Chi tiết khoá học >
        .col-md-3
          .item-course.transall
            img(src=path+"/img/image02.jpg", alt="Giáo dục sức khỏe bệnh nhân Tăng huyết áp")
            .content
              h3.ttl-item Giáo dục sức khỏe bệnh nhân Tăng huyết áp
              a.trans(href="#") Chi tiết khoá học >
        .col-md-3
          .item-course.transall
            img(src=path+"/img/image03.jpg", alt="Giáo dục sức khỏe bệnh nhân Đái tháo đường")
            .content
              h3.ttl-item Giáo dục sức khỏe bệnh nhân Đái tháo đường
              a.trans(href="#") Chi tiết khoá học >
        .col-md-3
          .item-course.transall
            img(src=path+"/img/image04.jpg", alt="Thực hành kỹ thuật hướng dẫn và kỹ năng tư vấn")
            .content
              h3.ttl-item Thực hành kỹ thuật hướng dẫn và kỹ năng tư vấn
              a.trans(href="#") Chi tiết khoá học >
  section.section-purpose
    .container
      .inner
        h2.ttl-purpose
          | MỤC ĐÍCH CỦA
          br
          | KHOÁ ĐÀO TẠO - NGÀY ĐẦU TIÊN
        p Khóa học Ngày đầu tiên ra đời với mong muốn giúp đội ngũ Tư vấn viên có những thông tin chính thông và kỹ năng cần thiết để hỗ trợ bệnh nhân Tăng huyết áp & Đái tháo đường kiểm soát các yếu tố nguy cơ tim mạch, ngăn ngừa biến cố và giảm chi phí điều trị
        a.link-purpose.trans(href="#") Nhận thêm thông tin >

index.html
 <!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <link rel="shortcut icon" href="./img/favicon.ico">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <title>title</title>
    <link href="//fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&amp;display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
      <header class="main-header">
        <div class="container dis-flex justify-content-between">
          <div class="left-header dis-flex">
            <h1 class="logo"><a class="trans" href="#"><img src="./img/logo.svg" alt="ngày đầu tiên"></a></h1>
            <nav class="main-nav js-navigation">
              <ul class="dis-flex">
                <li><a href="#">Về dự án Ngày Đầu Tiên</a></li>
                <li><a href="#">Tìm hiểu về Tăng huyết áp</a></li>
                <li><a href="#">Tìm hiểu về Đái tháo đường</a></li>
              </ul>
            </nav>
          </div>
          <form class="box-search">
            <input type="text" placeholder="Tìm Kiếm">
            <button><img src="./img/icon-search-2.svg" alt="Tìm Kiếm"></button>
          </form>
          <div class="btn-menu js-btn-menu"><span></span><span></span><span></span></div>
        </div>
      </header>
      <main>&#x9;
        <section class="section-keyvisual">
          <div class="container">
            <div class="content-key">
              <h2 class="ttl-cmn"><span>GIỚI THIỆU CHUNG</span></h2>
              <p>Các khóa học mang tính cải tiến vấn đề cốt lõi – các yếu tố trong môi trường sống của bệnh nhân (gia đình, bạn bè, bác sĩ, điều dưỡng…).</p>
              <p>Từ đây nâng cao nhận thức của người dân về các bệnh không lây nhiễm và những căn bệnh liên quan tới tim mạch như Đái tháo đường và…</p><a class="viewmore trans" href="#"><span>Xem thêm</span></a>
            </div>
          </div>
        </section>
        <section class="section-infor">
          <div class="top-infor">
            <div class="container">
              <div class="block-student">
                <div class="avatar"><img src="./img/avatar.png" alt="NGUYỄN PHƯƠNG THẢO"><a class="edit trans" href="#"></a></div>
                <h2 class="name">NGUYỄN PHƯƠNG THẢO<span>(Bệnh viện Đa khoa Gia Lai)</span></h2>
                <div class="text-infor"><span>Email: nguyen.thao91@gmail.com</span>|<span>Điện thoại: 092387110</span></div>
              </div>
            </div>
          </div>
          <div class="bot-infor">
            <div class="container">
              <div class="block-infor">
                <h2 class="ttl-cmn"><span>THÔNG TIN HỌC VIÊN</span></h2>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="box-infor">
                      <div class="head-infor"><img src="./img/icon-infor01.png" alt="THÔNG TIN CƠ BẢN">THÔNG TIN CƠ BẢN</div>
                      <div class="body-infor">
                        <table>
                          <tr>
                            <th>Giới tính:</th>
                            <td>Nữ</td>
                          </tr>
                          <tr>
                            <th>Ngày sinh:</th>
                            <td>01/10/1992</td>
                          </tr>
                          <tr>
                            <th>Nơi sinh:</th>
                            <td>Khánh Hoà</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="box-infor">
                      <div class="head-infor"><img src="./img/icon-infor02.png" alt="TRÌNH ĐỘ HỌC VẤN">TRÌNH ĐỘ HỌC VẤN</div>
                      <div class="body-infor">
                        <table class="tabble2">
                          <tr>
                            <th>Bằng cấp:</th>
                            <td>Bằng Đại Học</td>
                          </tr>
                          <tr>
                            <th>Trường tốt nghiệp:</th>
                            <td>Đại học Y Dược TP.Hồ Chí Minh</td>
                          </tr>
                          <tr>
                            <th>Năm tốt nghiệp:</th>
                            <td>2020</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 box-experience">
                    <div class="box-infor">
                      <div class="head-infor"><img src="./img/icon-infor03.png" alt="KINH NGHIỆM CHUYÊN MÔN">KINH NGHIỆM CHUYÊN MÔN</div>
                      <div class="body-infor">
                        <table class="tabble2">
                          <tr>
                            <th>Cơ quan công tác:</th>
                            <td>Bệnh viện Đa khoa Gia Lai</td>
                          </tr>
                          <tr>
                            <th>Tỉnh/Thành phố:</th>
                            <td>Gia Lai</td>
                          </tr>
                          <tr>
                            <th>Khoa công tác:</th>
                            <td>Khoa Nội Tổng Quát</td>
                          </tr>
                          <tr>
                            <th>Thâm niên công tác:</th>
                            <td>07 năm</td>
                          </tr>
                          <tr>
                            <th>Kinh nghiệm tư vấn bệnh nhân:</th>
                            <td>03 năm</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-course">
          <div class="container">
            <h2 class="ttl-cmn text-center"><span>KHOÁ HỌC ĐÃ ĐĂNG KÍ</span></h2>
            <div class="row list-course">
              <div class="col-md-3">
                <div class="item-course transall"><img src="./img/image01.jpg" alt="Quy trình tư vấn giáo dục sức khỏe cho bệnh nhân">
                  <div class="content">
                    <h3 class="ttl-item">Quy trình tư vấn giáo dục sức khỏe cho bệnh nhân</h3><a class="trans" href="#">Chi tiết khoá học ></a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="item-course transall"><img src="./img/image02.jpg" alt="Giáo dục sức khỏe bệnh nhân Tăng huyết áp">
                  <div class="content">
                    <h3 class="ttl-item">Giáo dục sức khỏe bệnh nhân Tăng huyết áp</h3><a class="trans" href="#">Chi tiết khoá học ></a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="item-course transall"><img src="./img/image03.jpg" alt="Giáo dục sức khỏe bệnh nhân Đái tháo đường">
                  <div class="content">
                    <h3 class="ttl-item">Giáo dục sức khỏe bệnh nhân Đái tháo đường</h3><a class="trans" href="#">Chi tiết khoá học ></a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="item-course transall"><img src="./img/image04.jpg" alt="Thực hành kỹ thuật hướng dẫn và kỹ năng tư vấn">
                  <div class="content">
                    <h3 class="ttl-item">Thực hành kỹ thuật hướng dẫn và kỹ năng tư vấn</h3><a class="trans" href="#">Chi tiết khoá học ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-purpose">
          <div class="container">
            <div class="inner">
              <h2 class="ttl-purpose">MỤC ĐÍCH CỦA<br>KHOÁ ĐÀO TẠO - NGÀY ĐẦU TIÊN</h2>
              <p>Khóa học Ngày đầu tiên ra đời với mong muốn giúp đội ngũ Tư vấn viên có những thông tin chính thông và kỹ năng cần thiết để hỗ trợ bệnh nhân Tăng huyết áp & Đái tháo đường kiểm soát các yếu tố nguy cơ tim mạch, ngăn ngừa biến cố và giảm chi phí điều trị</p><a class="link-purpose trans" href="#">Nhận thêm thông tin ></a>
            </div>
          </div>
        </section>
      </main>
      <footer class="main-footer">
        <div class="container">
          <h2 class="ttl-footer"><span>ngaydautien.vn</span></h2>
          <div class="row">
            <div class="col-md-7">
              <h3 class="ttl-inner">Về ngày đầu tiên</h3>
              <p>Trang tin Ngày đầu tiên ra đời với mong muốn giúp cộng đồng hiểu rõ hơn về 2 căn bệnh thầm lặng Tăng Huyết Áp và Đái Tháo Đường, nhận biết các nguy cơ cũng như lời khuyên để sống khỏe cùng bệnh.</p>
              <p>Cùng hiểu hơn về Tăng Huyết Áp và Đái Tháo Đường qua loạt bài viết và thông tin y khoa chính thống từ cộng đồng Bác sĩ giàu kinh nghiệm. Được bảo trợ  bởi Hội Tim mạch học Việt Nam và Hội Nội Tiết và Đái Tháo Đường Việt Nam.</p>
            </div>
            <div class="col-md-5">
              <h3 class="ttl-inner">Bảo trợ thông tin</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="item-ft"><a href="#"><img src="./img/vha.jpg" alt=""><span class="transall">Hội Tim Mạch Học Việt Nam</span></a></div>
                </div>
                <div class="col-md-6">
                  <div class="item-ft"><a href="#"><img src="./img/vade.jpg" alt=""><span class="transall">Hội nội tiết & đái tháo đường Việt Nam</span></a></div>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <h3 class="ttl-inner">Theo dõi chúng tôi</h3>
              <div class="row">
                <div class="col item-social facebook"><a href="#"><img src="./img/icon-face.png" alt="facebook"><span>Tăng Huyết Áp</span></a></div>
                <div class="col item-social facebook"><a href="#"><img src="./img/icon-face.png" alt="facebook"><span>Đái Tháo Đường</span></a></div>
                <div class="col item-social youtube"><a href="#"><img src="./img/icon-yt.png" alt="facebook"><span>Ngày Đầu Tiên</span></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="wave-wrapper">
          <div class="ocean wave-bottom">
            <div class="wave wave-1 wave-white"></div>
            <div class="wave wave-2 wave-white"></div>
            <div class="wave wave-3 wave-white"></div>
          </div>
        </div>
        <div class="nav-footer">
          <div class="container">
            <ul class="dis-flex">
              <li><a href="#">GIỚI THIỆU NGÀY ĐẦU TIÊN</a></li>
              <li><a href="#">BAN ĐIỀU HÀNH</a></li>
              <li><a href="#">CHÍNH SÁCH BẢO MẬT</a></li>
              <li><a href="#">LIÊN HỆ</a></li>
            </ul>
          </div>
        </div>
        <div class="coppy-right">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <p>© 2016 - 2020 Bản quyền các bài viết thuộc Ngày Đầu Tiên.</p>
                <p>Các bài viết của Ngày Đầu Tiên chỉ có tính chất tham khảo, không thay thế cho việc chẩn đoán hoặc điều trị.</p>
              </div>
              <div class="col-md-4">
                <ul class="list-protect dis-flex align-items-center">
                  <li><a class="btn-group dmca-badge" href="//www.dmca.com/Protection/Status.aspx?ID=6978703b-3615-4182-8c0f-3ab90371d1aa" rel="noreferrer" target="_blank" title="DMCA.com Protection Status">
                      <div class="btn btn-sm btn-success text-dark">DMCA</div>
                      <div class="btn btn-sm btn-dark">PROTECTED</div>
                      <script async="async" defer="defer" src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script></a></li>
                  <li><a class="d-block" href="//www.copyscape.com/" rel="noreferrer" target="_blank" title="Protected by Copyscape - Do not copy content from this page."><span class="btn btn-sm btn-dark">
                        © PROTECTED BY
                        COPYSCAPE</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>
